@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}
<div>
    <h2>Small Cart Components</h2>
    @foreach (var p in Model)
    {
<div>
    <span>@p.Name -</span>
    <span>@p.Value -</span>
    <span>@p.Qty -</span>
</div>
    }

</div>